
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}


p {text-align: justify;}
div {text-align: center;}

div.scrollmenu {
  background-color: #588;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

img {
  height: auto;
  width: 100%;
  object-fit: contain;
  background-size: contain;
}